.app-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "body"
    "footer";
  grid-template-rows: auto auto 1fr auto; 
  min-height: 100vh;
  min-width: 360px;
}

.app-header { grid-area: header; }
.app-body { grid-area: body; }
.app-nav { grid-area: nav; }
.app-footer { grid-area: footer; }