/* src/components/body.module.css */
.body-grid {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 350px 1fr; /* Sidebar un poco más ancho */
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 1600px; /* Ancho máximo */
  margin: 0 auto;
}

.sidebar { grid-area: sidebar; }
.content { grid-area: content; }

@media (max-width: 992px) { /* Cambiamos el punto de responsive */
  .body-grid {
    grid-template-areas:
      "content"
      "sidebar"; 
    grid-template-columns: 1fr;
  }
}