.body-grid {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 350px 1fr; 
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 1600px; 
  margin: 0 auto;
}

.sidebar { grid-area: sidebar; }
.content { grid-area: content; }

@media (max-width: 992px) { 
  .body-grid {
    grid-template-areas:
      "content"
      "sidebar"; 
    grid-template-columns: 1fr;
  }
}