.header-wrapper {

  background-image: url('/images/iesCura.jpeg'); 
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  text-align: center;
  color: white;
  
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9); 
}

.title {
  font-size: 2.8rem; 
  font-weight: 700;
  margin: 0;
}

.subtitle {
  font-size: 1.3rem; 
  margin: 0;
}